<div class="container my-4">

  <div class="calculator card">

    <input type="text" class="calculator-screen z-depth-1" [value]="containerDisplay" disabled />

    <div class="calculator-keys">
      <button type="button" class="operator btn btn-info" value="+" (click)="operationClicked('+')">+</button>

      <button type="button" class="operator btn btn-info" value="-" (click)="operationClicked('-')">-</button>
      <button type="button" class="operator btn btn-info" value="*" (click)="operationClicked('*')">&times;</button>
      <button type="button" class="operator btn btn-info" value="/" (click)="operationClicked('/')">&divide;</button>

      <button type="button" value="7" class="btn btn-light waves-effect" (click)="numClicked(7)">7</button>
      <button (click)="numClicked(8)" type="button" value="8" class="btn btn-light waves-effect">8</button>
      <button (click)="numClicked(9)" type="button" value="9" class="btn btn-light waves-effect">9</button>


      <button (click)="numClicked(4)" type="button" value="4" class="btn btn-light waves-effect">4</button>
      <button (click)="numClicked(5)" type="button" value="5" class="btn btn-light waves-effect">5</button>
      <button (click)="numClicked(6)" type="button" value="6" class="btn btn-light waves-effect">6</button>


      <button (click)="numClicked(1)" type="button" value="1" class="btn btn-light waves-effect">1</button>
      <button (click)="numClicked(2)" type="button" value="2" class="btn btn-light waves-effect">2</button>
      <button (click)="numClicked(3)" type="button" value="3" class="btn btn-light waves-effect">3</button>


      <button (click)="numClicked(0)" type="button" value="0" class="btn btn-light waves-effect">0</button>
      <button type="button" class="decimal function btn btn-secondary" value=".">.</button>
      <button type="button" class="all-clear function btn btn-danger btn-sm" value="all-clear" (click)="allClear()">AC</button>

      <button type="button" class="equal-sign operator btn btn-default" value="=" (click)="calculateResult()">=</button>

    </div>
  </div>
</div>